:root {
  --pink1: #ffd6e8;
  --pink2: #ffc2dd;
  --text1: #c94f7c;
  --text2: #a64d79;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

/* Ảnh nền mờ */
.background {
  position: fixed;
  inset: 0;
  filter: blur(8px) brightness(0.9);
  transform: scale(1.1);
  z-index: -1;
}

/* Screen chung */
.screen {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.8s ease;
}

/* Screen 1 */
#screen1 {
  background: linear-gradient(135deg, var(--pink1), var(--pink2));
  z-index: 2;
}

/* Screen 2 */
#screen2 {
  background: #f2d0d3;
  transform: scale(1.1);
  pointer-events: none;
  z-index: 1;
}

.title {
  color: var(--text1);
  font-size: 28px;
  margin-bottom: 30px;
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background: white;
  color: var(--text1);
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(255, 182, 193, 0.4);
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.container {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  max-width: 520px;
}

h1 {
  color: var(--text1);
}

.message {
  color: var(--text2);
  margin: 20px 0;
  line-height: 1.6;
}

.countdown {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.unit {
  background: white;
  padding: 15px;
  border-radius: 20px;
  min-width: 80px;
}

.number {
  font-size: 22px;
  font-weight: bold;
  color: var(--text1);
}

.label {
  font-size: 12px;
  color: var(--text2);
}

.modal-content {
  background-color: #ffd1d6;
}

.modal-title {
  color: #f2a7ad;
}

.modal-body {
  color: #a21d33;
}

.fade-content {
  transition: all 0.4s ease;
  opacity: 0;
  transform: scale(0.95);
}

.fade-show {
  opacity: 1;
  transform: scale(1);
}

.btn-pink {
  background: linear-gradient(135deg, #f8b6c1, #f48ca3);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 26px;
  transition: all 0.3s ease;
}

.btn-pink:hover {
  background: linear-gradient(135deg, #f48ca3, #ec6f8e);
  box-shadow: 0 6px 18px rgba(236, 111, 142, 0.45);
}
